<Config>
  <LogLevel>Info</LogLevel>
  <Port>{{ sonarr_port }}</Port>
  <UrlBase>{{ sonarr_docker_name }}</UrlBase>
  <BindAddress>{{ sonarr_bind }}</BindAddress>
  <EnableSsl>False</EnableSsl>
  <AuthenticationMethod>Forms</AuthenticationMethod>
  <Branch>master</Branch>
  <LaunchBrowser>True</LaunchBrowser>
  <SslCertHash></SslCertHash>
  <UpdateMechanism>BuiltIn</UpdateMechanism>
</Config>