[AutoRun]
enabled=true
program=/config/qbit-mgmt/run.sh

[BitTorrent]
Session\BTProtocol=Both
Session\DefaultSavePath=/downloads/
Session\DisableAutoTMMByDefault=false
Session\GlobalDLSpeedLimit=1500000
Session\GlobalUPSpeedLimit=1562500
Session\IgnoreLimitsOnLAN=true
Session\LSDEnabled=false
Session\MaxConnections=1000
Session\MaxConnectionsPerTorrent=200
Session\MaxUploads=500
Session\MaxUploadsPerTorrent=50
Session\Port=34522
Session\QueueingSystemEnabled=false
Session\ReannounceWhenAddressChanged=true
Session\SaveResumeDataInterval=5
Session\Tags=manual-workflow, T.tleech, F.compressed, T.unknown, T.ipt, manual-workflow-completed, app
Session\TempPath=/downloads/incomplete/
Session\TorrentContentLayout=Original
Session\uTPRateLimited=false

[Core]
AutoDeleteAddedTorrentFile=IfAdded

[LegalNotice]
Accepted=true

[Meta]
MigrationVersion=3

[Network]
Cookies=@Invalid()
PortForwardingEnabled=true
Proxy\OnlyForTorrents=false

[Preferences]
Advanced\RecheckOnCompletion=false
Advanced\trackerPort=9000
Connection\PortRangeMin=6881
Connection\ResolvePeerCountries=true
Connection\UPnP=false
Downloads\SavePath=/downloads/
Downloads\ScanDirsV2=@Variant(\0\0\0\x1c\0\0\0\0)
Downloads\TempPath=/downloads/incomplete/
DynDNS\DomainName=changeme.dyndns.org
DynDNS\Enabled=false
DynDNS\Password=
DynDNS\Service=DynDNS
DynDNS\Username=
General\Locale=en
MailNotification\email=
MailNotification\enabled=false
MailNotification\password=
MailNotification\req_auth=true
MailNotification\req_ssl=false
MailNotification\sender=qBittorrent_notification@example.com
MailNotification\smtp_server=smtp.changeme.com
MailNotification\username=
WebUI\Address=*
WebUI\AlternativeUIEnabled=false
WebUI\AuthSubnetWhitelistEnabled=false
WebUI\BanDuration=3600
WebUI\CSRFProtection=true
WebUI\ClickjackingProtection=true
WebUI\CustomHTTPHeaders=
WebUI\CustomHTTPHeadersEnabled=false
WebUI\HTTPS\CertificatePath=
WebUI\HTTPS\Enabled=false
WebUI\HTTPS\KeyPath=
WebUI\HostHeaderValidation=true
WebUI\LocalHostAuth=true
WebUI\MaxAuthenticationFailCount=5
WebUI\Password_PBKDF2="@ByteArray(PLVkXBDuSViSrTOJQfLYFg==:DToYP5kTDDgYozPoW8NkJI7tcjKx9mwHxagGaL7UO3ag8BlnFAK//dUIOh9X1nlZqQfxzEnYAr/NaaN0Z1HBVw==)"
WebUI\Port=8081
WebUI\ReverseProxySupportEnabled=false
WebUI\RootFolder=qt
WebUI\SecureCookie=true
WebUI\ServerDomains=*
WebUI\SessionTimeout=3600
WebUI\TrustedReverseProxiesList=
WebUI\UseUPnP=false
WebUI\Username=admin

[RSS]
AutoDownloader\DownloadRepacks=true
AutoDownloader\SmartEpisodeFilter=s(\\d+)e(\\d+), (\\d+)x(\\d+), "(\\d{4}[.\\-]\\d{1,2}[.\\-]\\d{1,2})", "(\\d{1,2}[.\\-]\\d{1,2}[.\\-]\\d{4})"