<Config>
  <LogLevel>Info</LogLevel>
  <Port>{{ radarr_port }}</Port>
  <UrlBase>{{ radarr_docker_name }}</UrlBase>
  <BindAddress>{{ radarr_bind }}</BindAddress>
  <EnableSsl>False</EnableSsl>
  <AuthenticationMethod>Forms</AuthenticationMethod>
  <Branch>master</Branch>
  <LaunchBrowser>True</LaunchBrowser>
  <UpdateMechanism>Docker</UpdateMechanism>
  <SslCertPath></SslCertPath>
  <SslCertPassword></SslCertPassword>
</Config>